<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login - Gestor de Tareas</title>

  <!-- Tus estilos -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/styles.css') }}"
  />
</head>
<body>
  <div class="container">
    <div class="img-div">
      <img
        src="{{ url_for('static', filename='avatars/logo.png') }}"
        alt="Logo del Gestor de Tareas"
      />
    </div>

    <div class="title-div">
      <h1>Bienvenido al Gestor de Tareas</h1>
    </div>

    <div class="subtitle-div">
      Organiza tus proyectos y tareas con inspiración 💡
    </div>

    <!-- Formulario de login -->
    <form method="POST" action="{{ url_for('login') }}">
      <input
        type="text"
        id="nombre_usuario"
        name="nombre_usuario"
        placeholder="Nombre de Usuario"
        required
      />
      <input
        type="password"
        id="contrasena"
        name="contrasena"
        placeholder="Contraseña"
        required
      />

      <div class="botones">
        <button type="submit" class="btn-iniciar">
          Iniciar Sesión
        </button>
      </div>
      <p class="text-center">
        ¿No tienes cuenta? 
        <a href="{{ url_for('crear_usuario') }}" class="link-registrate">Regístrate</a>.
      </p>
    </form>
  </div>
</body>
</html>
